<body>
    <section>
        <h1>Angular</h1>
    </section>

    <section class="teoria">
        <h2>Concepto</h2>
        <p>
            Angular es una plataforma y marco para construir aplicaciones cliente de una sola página utilizando HTML y
            TypeScript. Angular está escrito en TypeScript. Implementa la funcionalidad central y opcional como un
            conjunto de bibliotecas TypeScript que importa en sus aplicaciones.

            La arquitectura de una aplicación angular se basa en ciertos conceptos fundamentales. Los componentes
            básicos del marco angular son componentes angulares que están organizados en NgModules. NgModules recopila
            código relacionado en conjuntos funcionales; una aplicación angular se define mediante un conjunto de
            NgModules. Una aplicación siempre tiene al menos un módulo raíz eso permite bootstrapping, y generalmente
            tiene muchos más módulos de características.</p>
    </section>
</body>