<p>Listado de Productos</p>
<table>
    <br>
    <span *ngIf="listadoProductosFire.length == 0">
        No existen Productos
    </span>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let producto of listadoProductosFire |async">
            <td>{{producto.nombre}}</td>
            <td>{{producto.cantidad}}</td>
            <td>{{producto.precio}}</td>
            <td>
                <button mat-fab color="accent" (click)="editar(producto)">
                    <mat-icon>create</mat-icon>
                </button>
            </td>
            <td>
                <button mat-fab color="warn" (click)="eliminar($event, producto)">
                    <mat-icon>delete</mat-icon>
                </button>

            </td>
        </tr>
    </tbody>
</table>

<br />
<br />