<section class="principal">
    <ul>
        <img src="../../../assets/a4b71b6c18751502f7cfa2f3f17e74eb.jpg"
        alt="Producto">
    </ul>
    <ul><button (click)="producto()">Producto</button></ul>
    <ul>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAo9uDXi8xMHw6fi1ekUMjI8InVGmEL6nhHg&usqp=CAU"
            alt="Contacto">
    </ul>
    <ul><button (click)="contacto()">Contacto</button></ul>
    <ul>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5vSKwjYxtezhoHldO8rvedO9zc2_zbE5GeA&usqp=CAU"
            alt="naturaleza">
    </ul>
    <ul><button (click)="navegar()">Ver más</button></ul>

    <ul>
        <img src="https://lh3.googleusercontent.com/XSDv6XYZ973bdxMBDJ1adLHpSSUv4vsZJaePpms21eZDl-27JIfTHIYXnnudwPfAg_1-59bKAarMhWGNagsTR2Gq0pAWBUw6CwYwH2V0TzDXZT9z1fKvr1vCOrk8nxZ-U7wVfOJq"
            alt="programacion">
    </ul>

    <ul><button>Ver más</button>
    </ul>
</section>